body{
    background-color: #c1c1c1;
}
#username:invalid{
    outline: 2px double gray;
}
#password:invalid{
    outline: 2px double gray;
}
label{
    display: block;
    margin: 1%;
    font-size: 25px;
}
img{
    width: 100px;
    position: absolute;
    right:1560px;
    top:2%;
}
.p{
    font-size:22px ;
    text-align: center;
}
.div0{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px 0;
}
button{
    background-color: red;
}
input{
    border: none;
    outline: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: larger;
}
label input{
    outline: none;
}
#data{
    background-color:rgb(73, 185, 29);
}
form:invalid button{
    pointer-events: none;
}
div{
    text-align: center;
}
.div{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    font-size: 25px;
    transition: all 3s;
}
.img{
    position: absolute;
    right: 67px;
}
div{
    position: relative;
}
a:hover{
    background-color:rgb(73, 185, 29);
    color:rgb(255, 255, 255) 
}
a:focus{
    color: rgb(255, 0, 0);
}
.div{
    text-align: center;
    border:solid black 4px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:600px){
    input{
        width:60%;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    img{
        right:310px;
        width:60px;
    }
}